body {background-color: #467a4f;}
h1 {font-size:36pt;}
h2 {color:black}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ccd6d0;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: left;
  }
  
  h3 {
    text-align: right;
  }

  body {
    margin: 0;
    height: 100vh;
    background: #467a4f;
    overflow: hidden;
}

body {
  margin: 0;
  height: 100vh;
  background: #467a4f;
  overflow: hidden;
}

.bubble {
  position: absolute;
  bottom: -50px;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.486);
  border-radius: 50%;
  animation: float 6s linear infinite;
}

@keyframes float {
  0% { transform: translateY(0) scale(0.5); opacity: 1; }
  100% { transform: translateY(-100vh) scale(1.2); opacity: 0; }
}